.u-section-1 .u-sheet-1 {
  min-height: 5238px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 94px 821px 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 641px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 421px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 241px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 41px;
  }
}